body {
    padding: 50px;
}

.ui.text.item {
    alignment: left;
}

.ui.banner.container {
    text-align: left;
}
.ui.img {
    padding-top: 0px;
}

.ui.borderless.menu {
    background-color: #0A84FF;
    min-width: 100% !important;
    padding-bottom: 0px;
}

item {
    color: black !important;
    alignment: left;
}

.ui.two.column.centered.grid {
    width: 80%;
    alignment: center !important;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #1251a7;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bolder;
}