body {
    padding: 50px;
}

.ui.text.item {
    alignment: left;
}

.ui.banner.container {
    text-align: left;
}

.ui.img {
    padding-top: 0px;
}

.ui.hours.img {
    width: 600px;
    height: 400px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.ui.borderless.menu {
    background-color: #0A84FF;
    min-width: 100% !important;
    padding-bottom: 0px;
}

.ui.two.column.centered.grid {
    width: 80%;
    alignment: center !important;
    justify-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
}

.ui.two.column.centered.borderless.grid {
    alignment: center !important;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

h1 {
    color: #1251a7;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bolder;
}

h3 {
    color: black;
    text-align: center;
    font-weight: normal;
}

#h2-hours {
    color: black;
    text-align: left;
    font-weight: bolder;
}

#h2-map {
    color: white;
    text-align: center;
    font-weight: bolder;
}

#h3-hours {
    color: black;
    text-align: left;
    font-weight: normal;
}

#support {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ui.hours.container {
    background-color: #3682e9;
    margin-top: 100px;
    margin-bottom: 15px;
}

.ui.hours.column {
    background-color: white;
    padding-left: 0px;
    border-left: 0px;
    margin-left: 0px;
}

.ui.hours.image.column {
    background-color: #3682e9;
    padding-right: 0px;
    border-right: 0px;
    margin-right: 0px;
}

.ui.button {
    background-color: black;
    color: aliceblue;
    position: relative;
    left: 35%;
}

.ui.support.button {
    background-color: black;
    color: aliceblue;
    position: relative;
    left: 45%;
}

.ui.map.container {
    margin-top: 0px;
    background-color: black;
}

iframe {
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    left: 20%;
}

.ui.form {
    width: 60%;
    position: relative;
    left: 20%;
}

.ui.field{
    background-color: black;
    color: white;
}